body {
  font-family: Helvetica, Arial, san-serif;
}

@media (min-width: 820px) {
  .input {
    width: 33%;
    display: inline-block;
    position: relative;
  }
}

.input textarea {
  height: 300px;
  width: 100%;
  font-family: monospace;
  font-size: 1.2em;
  resize: none;
}

.error,
.out {
  font-family: monospace;
  font-size: 1.2em;
}